html, body {
  margin: 0;
  padding: 0;

  background-color: #1c1c31d8;
}



.canvas-container {
  width: 960px; /* Canvas width 1920 / 2  */
  height: 489px; /* Canvas height 968 /2 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 1;
}


#myCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%); 
  z-index: 0;
}


#button {
  position:absolute;
  z-index: 2;
  font-size: 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius:  8px;
}


#leftButton {
  position:absolute;
  z-index: 2;
  font-size: 0; 
  width:  0; 
  height: 0;
  border-width: 25px 50px 25px 0; 
  border-color: transparent #4CAF50 transparent transparent;
  border-style: solid;
  background-color: transparent
}

#rightButton {
  position:absolute;
  z-index: 2;
  font-size: 0; 
  width:  0; 
  height: 0;
  border-width: 25px 0 25px 50px; 
  border-color: transparent transparent transparent #4CAF50;
  border-style: solid;
  background-color: transparent
}






.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}



